apiVersion: apps/v1
kind: Deployment
metadata:
  name: apigateway-deployment
  labels:
    app: apigateway-deployment
spec:
  # Deployment Spec
  selector:
    # Match mapping pod's label
    matchLabels:
      app: apigateway-service
  replicas: 2
  # Pod Spec
  template:
    metadata:
      name: apigateway-service
      # Set pod's label
      labels:
        app: apigateway-service
    spec:
      containers:
        - name: apigateway-service
          image: akak640/lotdiz-apigateway-service