apiVersion: apps/v1
kind: Deployment
metadata:
  name: funding-deployment
  labels:
    app: funding-deployment
spec:
  # Deployment Spec
  selector:
    # Match mapping pod's label
    matchLabels:
      app: funding-service
  replicas: 2
  # Pod Spec
  template:
    metadata:
      name: funding-service
      # Set pod's label
      labels:
        app: funding-service
    spec:
      containers:
        - name: funding-service
          image: akak640/lotdiz-funding-service
        - name: mysql
          image: mysql:8.0.34