apiVersion: apps/v1
kind: Deployment
metadata:
  name: funding-deployment
  labels:
    app: funding-service
    profile: dev
spec:
  # Deployment Spec
  selector:
    # Match mapping pod's label
    matchLabels:
      app: funding-service
      profile: dev
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  replicas: 1
  # Pod Spec
  template:
    metadata:
      name: funding-pod
      # Set pod's label
      labels:
        app: funding-service
        profile: dev
    spec:
      containers:
        - name: funding-service
          image: akak640/lotdiz-funding-service
        - name: mysql
          image: mysql:8.0.34
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "11111111"
            - name: MYSQL_DATABASE
              value: funding-service