apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-deployment
  labels:
    app: payment-service
    profile: dev
spec:
  # Deployment Spec
  selector:
    # Match mapping pod's label
    matchLabels:
      app: payment-service
      profile: dev
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  replicas: 1
  # Pod Spec
  template:
    metadata:
      name: payment-pod
      # Set pod's label
      labels:
        app: payment-service
        profile: dev
    spec:
      containers:
        - name: payment-service
          image: akak640/lotdiz-payment-service
          imagePullPolicy: Always
          ports:
            - containerPort: 8085
        - name: mysql
          image: mysql:8.0.34
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "11111111"
            - name: MYSQL_DATABASE
              value: payment-service
          volumeMounts:
            - name: payment-initdb
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: payment-initdb
          configMap:
            name: payment-initdb-config
