apiVersion: apps/v1
kind: Deployment
metadata:
  name: member-deployment
  labels:
    app: member-deployment
spec:
  # Deployment Spec
  selector:
    # Match mapping pod's label
    matchLabels:
      app: member-service
  replicas: 2
  # Pod Spec
  template:
    metadata:
      name: member-service
      # Set pod's label
      labels:
        app: member-service
    spec:
      containers:
        - name: member-service
          image: akak640/lotdiz-member-service
        - name: mysql
          image: mysql:8.0.34
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "11111111"
            - name: MYSQL_DATABASE
              value: member-service
